---
layout: page
pagination: 
  enabled: true
---
<main class="list">
    <div class="site-description">
        {{site.description}}
    </div>

    {% if site.posts.size == 0 %}

            <p class="text-center">Nothing published yet!</p>

    {% elsif site.pagination.enabled %}

        {% for post in paginator.posts %}
            {% include blog-post.html %}
        {% endfor %}

        {% include pagination.html %}

    {% else %}

        {% for post in site.posts %}
            {% include blog-post.html %}
        {% endfor %}

    {% endif %}

        
    
</main>